#inline-svg {
    height: 0px;
    position: absolute;
}

.mxcw-sectionColumn {
    width: 100%;
}

.imerss-filter-panel {
    width: 100%;
    min-height: 0;
}

.imerss-filters {
    height: auto;
}

.imerss-checklist-holder {
    padding-top: 0;
}
