#inline-svg {
    height: 0px;
    position: absolute;
}

.mxcw-sectionColumn {
    width: 100%;
}

.imerss-filter-panel {
    width: 100%;
    min-height: 0;
}

.imerss-filters {
    height: auto;
    flex-shrink: 0;
    overflow: visible; /* So that autocomplete dropdowns don't get clipped - entire hierarchy needs this! */
}

.imerss-status-filter .imerss-filter-body {
    flex-direction: row;
}

.imerss-status-filter .imerss-filter-row {
    flex: 0 0 auto;
    width: auto;
    padding-right: 1rem;
}

.imerss-checklist-holder {
    padding-top: 0;
}
