<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{- partial "head.html" . -}}
  <body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">
    {{- partial "navbar.html" . -}}
    <div class="imerss-main">
      <div class="mxcw-leftPane">
        <div class="mxcw-map fld-imerss-nodismiss-map">
        </div>
        <div class="mxcw-data fld-imerss-nodismiss-map">
        </div>
      </div>
      <div class="imerss-page">
    {{ partial "subnav.html" . }}
    {{- block "main" . }}{{ end -}}
      </div>
    </div>
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
  </body>
</html>
