
.mxcw-paneKey-Status .html-widget {
    margin-top: 1rem;
}

.mxcw-dataPane-History {
    margin-top: 2rem;
    background-color: white;
}

.mxcw-dataPane-TopContributions {
    background-color: white;
}

/** Don't display these for now, dedicated panels exist **/
.imerss-blitz-records {
    display: none;
}

/** We need the filter impl but no UI */
.imerss-dataset-filter {
    display: none;
}
