
.mxcw-paneKey-Status .html-widget {
    margin-top: 1rem;
}

.mxcw-dataPane-History {
    margin-top: 2rem;
    background-color: white;
}

.mxcw-dataPane-TopContributions {
    background-color: white;
}

/** These three stale **/


.mxcw-widgetPane-Protected div {
    text-align: end;
}

.mxcw-widgetPane-Protected p {
    margin-block-start: 1em;
    margin-block-end: 0;
}

.mxcw-widgetPane-Protected .fld-imerss-pane-info {
    display: none;
}

/** Don't display these for now, dedicated panels exist **/
.imerss-blitz-records, .imerss-filters {
    display: none;
}
