<!-- Looks like this comes from here - use CDN since it refers to relative fonts
https://github.com/Templarian/MaterialDesign-Webfont/releases/tag/v2.0.46 -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">

<link rel="stylesheet" href="/css/imerss-viz-lib.css"/>
<link rel="stylesheet" href="/css/imerss-viz-new-core.css"/>
<link rel="stylesheet" href="/css/imerss-viz-new.css"/>

<link rel="stylesheet" href="/css/imerss-story.css"/>
<link rel="stylesheet" href="/css/imerss-viz-story.css"/>
<!--
<link rel="stylesheet" type="text/css" href="/css/imerss-blitz.css"/>
-->

<link rel="stylesheet" href="/css/imerss-blitzr.css">

<link rel="stylesheet" href="/css/howe.css" />



<script src="/js/plotly-2.1.1.js"></script>
<script src="/js/htmlwidgets.js"></script>
<script src="/js/htmlwidgets-plotly.js"></script>

<script src="/js/jquery.js"></script>
<script src="/js/imerss-viz-lib.js"></script>
<script src="/js/imerss-viz-new-core.js"></script>
<script src="/js/imerss-viz-new.js"></script>
<script src="/js/imerss-viz.js"></script>
<script src="/js/imerss-blitz.js"></script>
<script src="/js/inat-components-standalone.min.js"></script>

<script src="/js/reknit-client.js"></script>
<script src="/js/imerss-viz-reknit.js"></script>
<script src="/js/paneHandlers.js"></script>
